@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  color: theme("colors.teal.900");
}

input {
  border: 2px theme("colors.teal.900") solid;
  border-radius: 5px;
  padding: 2px 3px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  background: theme("colors.teal.50");
  border: 2px theme("colors.teal.900") solid;
}

button:hover {
}
