@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .b-themed {
    @apply border-2 border-red-700;
  }

  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
}

.leaflet-container {
  background: #222222 !important;
}

input {
  border: 2px theme("colors.red.950") solid;
  border-radius: 5px;
  padding: 2px 3px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  background: theme("colors.red.100");
  border: 2px theme("colors.red.950") solid;
}

button:hover {
  background: theme("colors.red.200");
}

.leaflet-popup-content-wrapper {
  background: theme("colors.zinc.900") !important;
  color: white !important;
}
